<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title></title>
</head>
<body>
  index page
  <!--<script src="//netflix.github.io/falcor/build/falcor.browser.js"></script>-->
  <script src="falcor.browser.js"></script>
  <script>
    //create model:
    var model = new falcor.Model({
      source: new falcor.HttpDataSource('/model.json')
    });
    //logging:
    var log = console.log.bind(console);
    var jlog = function(x) { console.log(JSON.stringify(x, null, 3)); };
    var jerror = function(x) { console.error(JSON.stringify(x, null, 3)); };

//    model.get('todos[0].name').then(jlog, jerror);
    model.get(["todos", {from: 0, to: 4}, "name"]).then(jlog, jerror);
//    model.get('todos[0..2].name').then(jlog, jerror);
//    model.get('todos[0...5]["name"]').then(jlog, jerror);
//    model.get('todos.done.name').then(jlog, jerror);

    // set 相当于 rest put 请求，幂等
//    model.setValue('todos[0].name', 4).then(jlog, jerror);
    // call 相当于 rest post 请求
//    model.call('todos[0].tags.push', [{$type: "ref", value: ['todos', 1]}], ["signature"]).then(jlog, jerror);
  </script>
</body>
</html>
